.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 80%;

    .photo_cont {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      img {
        max-width: 200px;
        max-height: 150px;
        border-radius: 16px;
      }
    }

    button {
      height: 40px;
      width: 70px;
      font-weight: 600;
      font-size: 17px;
      display: flex;
      align-items: center;
    }
  }
}
